{% extends 'admin.html' %}
{% load static %}

{% block title %}
    Add Book Data
{% endblock title %}

{% block content %}
    <div class="book">
        <div class="container py-5">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-page rounded-pill px-5 pt-2 pb-1 mb-3">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-2">
                                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}" class="decoration-none">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'book' %}" class="decoration-none">Book</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="amount-info p-3 mb-3">
                        <div class="row">
                            <div class="col-4 text-center text-white mt-4">
                                <small>Book</small>
                                <h1 class="mb-3">{{ book_count }}</h1>
                                <i class="fas fa-book"></i>
                            </div>
                            <div class="col-4 text-center text-white mt-4 border border-top-0 border-bottom-0">
                                <small>Publisher</small>
                                <h1 class="mb-3">{{ publisher_count }}</h1>
                                <i class="fas fa-upload"></i>
                            </div>
                            <div class="col-4 text-center text-white mt-4">
                                <small>Category</small>
                                <h1 class="mb-3">{{ category_count }}</h1>
                                <i class="fas fa-bookmark"></i>
                            </div>
                        </div>
                    </div>
                    <div class="cover p-2">
                        <h6 class="text-center">Book Cover</h6>
                        <img src="{% static 'app/img/book-default.png' %}" alt="" id="cover" class="full-width">
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-8">
                    <div class="sub-content p-3">
                        <h5 class="mb-3">Add Book Data</h5>
                        <form action="{% url 'add_book' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label for="title" class="form-label">Title of the book</label>
                                    {{ form.title }}
                                </div>
                                <div class="col-12 col-md-4 col-lg-4 mb-3">
                                    <label for="isbn" class="form-label">ISBN Code</label>
                                    {{ form.isbn }}
                                </div>
                                <div class="col-12 col-md-4 col-lg-4 mb-3">
                                    <label for="year" class="form-label">Publish year</label>
                                    {{ form.publish_year }}
                                </div>
                                <div class="col-12 col-md-4 col-lg-4 mb-3">
                                    <label for="stock" class="form-label">Stock</label>
                                    {{ form.stock }}
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="writer" class="form-label">Writer</label>
                                    {{ form.writer }}
                                </div>
                                <div class="col-12 col-md-6 col-lg-6 mb-3">
                                    <label class="mb-2">Publisher</label>
                                    {{ form.publisher }}
                                </div>
                                <div class="col-12 col-md-6 col-lg-6 mb-3">
                                    <label class="mb-2">Category</label>
                                    {{ form.category }}
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="synopsis" class="form-label">Synopsis</label>
                                    {{ form.synopsis }}
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="formFile" class="form-label">Default file input example</label>
                                    {{ form.image }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary full-width">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block more-js %}
    <script>
        const a = () => {
            document.getElementById('cover').src = window.URL.createObjectURL(document.getElementById('id_image').files[0])
        }
    </script>
{% endblock more-js %}
    