{% extends 'admin.html' %}

{% block title %}
    Publisher
{% endblock title %}

{% block content %}
    <div class="publisher">
        <div class="container py-5">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-page rounded-pill px-5 pt-2 pb-1 mb-3">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-2">
                              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}" class="decoration-none">Dashboard</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Publisher</li>
                            </ol>
                          </nav>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="amount-info p-3 mb-3">
                        <div class="row">
                            <div class="col-4 text-center text-white mt-4">
                                <small>Book</small>
                                <h1 class="mb-3">78</h1>
                                <i class="fas fa-book"></i>
                            </div>
                            <div class="col-4 text-center text-white mt-4 border border-top-0 border-bottom-0">
                                <small>Publisher</small>
                                <h1 class="mb-3">78</h1>
                                <i class="fas fa-upload"></i>
                            </div>
                            <div class="col-4 text-center text-white mt-4">
                                <small>Category</small>
                                <h1 class="mb-3">78</h1>
                                <i class="fas fa-bookmark"></i>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'add_publisher' %}" class="btn btn-olibrary text-white full-width rounded-pill">Add Data</a>
                </div>
                <div class="col-12 col-md-8 col-lg-8">
                    <div class="sub-content p-3">
                        <table class="table table-responsive table-hover">
                            <thead class="table-dark">
                                <tr>
                                    <td class="py-3">#</td>
                                    <td class="py-3">Publisher</td>
                                    <td class="py-3" width="130"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="py-3">1</td>
                                    <td class="py-3">This is publisher</td>
                                    <td class="py-3">
                                        <a href="{% url 'edit_publisher' %}" class="btn btn-success"><i class="fas fa-edit"></i></a>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete"><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-3">1</td>
                                    <td class="py-3">This is publisher</td>
                                    <td class="py-3">l</td>
                                </tr>
                                <tr>
                                    <td class="py-3">1</td>
                                    <td class="py-3">This is publisher</td>
                                    <td class="py-3">l</td>
                                </tr>
                                <tr>
                                    <td class="py-3">1</td>
                                    <td class="py-3">This is publisher</td>
                                    <td class="py-3">l</td>
                                </tr>
                                <tr>
                                    <td class="py-3">1</td>
                                    <td class="py-3">This is publisher</td>
                                    <td class="py-3">l</td>
                                </tr>
                                <tr>
                                    <td class="py-3">1</td>
                                    <td class="py-3">This is publisher</td>
                                    <td class="py-3">l</td>
                                </tr>
                                <tr>
                                    <td class="py-3">1</td>
                                    <td class="py-3">This is publisher</td>
                                    <td class="py-3">l</td>
                                </tr>
                                <tr>
                                    <td class="py-3">1</td>
                                    <td class="py-3">This is publisher</td>
                                    <td class="py-3">l</td>
                                </tr>
                                <tr>
                                    <td class="py-3">1</td>
                                    <td class="py-3">This is publisher</td>
                                    <td class="py-3">l</td>
                                </tr>
                                <tr>
                                    <td class="py-3">1</td>
                                    <td class="py-3">This is publisher</td>
                                    <td class="py-3">l</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please Confirm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure want to delete this data?
            </div>
            <div class="modal-footer">
                <form action="" method="post">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger">Yes</button type="submit">
                </form>
            </div>
            </div>
        </div>
    </div>
{% endblock content %}
    