asgiref==3.3.1
beautifulsoup4==4.9.3
cffi==1.14.5
Django==3.1.7
django-appconf==1.0.4
django-avatar==5.0.0
django-bootstrap-v5==1.0.2
django-compressor==2.4.1
django-gravatar2==1.4.4
django-initial-avatars==0.9.1
django-sass-compiler==1.1.0
gunicorn==20.1.0
importlib-metadata==2.1.1
libsass==0.20.1
libtcod-cffi==5.0.0
micropython-fcntl==0.0.3
micropython-ffilib==0.1.2
mysqlclient==2.0.3
numpy==1.19.4
opencv-python==4.4.0.46
Pillow==8.2.0
pycparser==2.20
pytz==2021.1
rcssmin==1.0.6
rjsmin==1.1.0
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
whitenoise==5.2.0
