{% extends 'admin.html' %}

{% block title %}
    Add Transaction
{% endblock title %}

{% block content %}
    <div class="transaction">
        <div class="container py-5">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-page rounded-pill px-5 pt-2 pb-1 mb-3">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-2">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}" class="decoration-none">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'transaction' %}" class="decoration-none">Transaction</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="amount-info p-3 mb-3">
                        <div class="row">
                            <div class="col-4 text-center text-white mt-4">
                                <small>Book</small>
                                <h1 class="mb-3">78</h1>
                                <i class="fas fa-book"></i>
                            </div>
                            <div class="col-4 text-center text-white mt-4 border border-top-0 border-bottom-0">
                                <small>Publisher</small>
                                <h1 class="mb-3">78</h1>
                                <i class="fas fa-upload"></i>
                            </div>
                            <div class="col-4 text-center text-white mt-4">
                                <small>Category</small>
                                <h1 class="mb-3">78</h1>
                                <i class="fas fa-bookmark"></i>
                            </div>
                        </div>
                    </div>
                    <label>Name of member</label>
                    <input type="text" readonly placeholder="Name" class="form-control" value="{{ memberdata.name }}">
                    <a href="{% url 'cancel_transaction' %}" class="btn btn-danger full-width mt-3">Cancel to Add Transaction</a>
                </div>
                <div class="col-12 col-md-8 col-lg-8">
                    <div class="sub-content">
                        <div class="row">
                            <div class="col-6 pt-2">
                                <form action="{% url 'add_transaction' %}" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-10 pe-1 mb-3">
                                            <input type="text" name="isbn" placeholder="Input ISBN Code here" class="form-control">
                                        </div>
                                        <div class="col-2 ps-1 mb-3">
                                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label>Title of the book</label>
                                            <input type="text" class="form-control" readonly placeholder="The title will dipslay here">
                                        </div>
                                        <div class="col-12 mb-3">
                                            <button type="submit" class="btn btn-primary full-width">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-6">
                                
                                        {% if status == 'success' %}
                                            <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
                                                <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#check-circle-fill"/></svg>
                                                <div>{{ sendmessage }}</div>
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        {% elif status == 'failed' %}
                                            <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
                                                <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                                <div>{{ sendmessage }}</div>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                        {% endif %}

                                <button class="btn btn-light">This member only available to borrow 2 books</button>
                            </div>
                            <div class="col-12">
                                <div class="book-table rounded p-3">
                                    <table class="table">
                                        <thead class="table-dark">
                                            <tr>
                                                <td width=75>#</td>
                                                <td>Title</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            {% for entry in entries %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ entry }}</td>
                                                </tr>
                                            {% endfor %}
                                                
                                        </tbody>
                                    </table>
                                </div>
                                <form action="{% url 'submit_transaction' %}" method="post" class="mt-2">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success full-width">Add Data</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    