{% extends 'admin.html' %}

{% block title %}
    Transaction
{% endblock title %}

{% block content %}
    <div class="transaction">
        <div class="container py-5">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-page rounded-pill px-5 pt-2 pb-1 mb-3">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-2">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}" class="decoration-none">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Transaction</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="amount-info p-3 mb-3">
                        <div class="row">
                            <div class="col-4 text-center text-white mt-4">
                                <small>Book</small>
                                <h1 class="mb-3">{{ book_count }}</h1>
                                <i class="fas fa-book"></i>
                            </div>
                            <div class="col-4 text-center text-white mt-4 border border-top-0 border-bottom-0">
                                <small>Publisher</small>
                                <h1 class="mb-3">{{ publisher_count }}</h1>
                                <i class="fas fa-upload"></i>
                            </div>
                            <div class="col-4 text-center text-white mt-4">
                                <small>Category</small>
                                <h1 class="mb-3">{{ category_count }}</h1>
                                <i class="fas fa-bookmark"></i>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-olibrary text-white full-width rounded-pill mb-3" data-bs-toggle="modal" data-bs-target="#member">Add Data</button>
                </div>
                <div class="col-12 col-md-8 col-lg-8">
                    <div class="sub-content">

                        {% if messages %}
                                
                            {% for message in messages %}
                                {% if message.tags == 'success' %}
                                    <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#check-circle-fill"/></svg>
                                {% elif message.tags == 'error' %}
                                    <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                {% endif %}
                                    <div>{{ message }}</div>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                                
                        {% endif %}
                        
                        <div class="transaction-items">
                            
                            {% for transaction in transactions %}
                                <div class="transaction-item position-relative shadow p-3 mb-3">
                                    <div class="transaction-data">
                                        <h1>{{ transaction.name | upper }}</h1>
                                        <p>Book borrowed : {{ transaction.count }} book(s)</p>
                                        <a href="{% url 'returning' transaction.id %}" class="btn btn-primary btn-sm"><i class="fas fa-exchange-alt"></i></a>
                                    </div>
                                </div>
                            {% endfor %}  
                            
                            <div class="my-4"></div>
                            <div class="pagination justify-content-end">
                                <span class="step-links">
                                    {% if transactions.has_previous %}
                                        <a href="?page=1" class="btn btn-sm btn-success">First</a>
                                        <a href="?page={{ transactions.previous_page_number }}" class="btn btn-sm btn-success"><i class="fas fa-chevron-left"></i></a>
                                    {% endif %}

                                    <small class="current mx-1">
                                        Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}
                                    </small>

                                    {% if transactions.has_next %}
                                        <a href="?page={{ transactions.next_page_number }}" class="btn btn-sm btn-success"><i class="fas fa-chevron-right"></i></a>
                                        <a href="?page={{ transactions.paginator.num_pages }}" class="btn btn-sm btn-success">Last</a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Member Modal -->
    <div class="modal fade" id="member" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please Input</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'validation' %}" method="post">
                    {% csrf_token %}
                    <div class="row justify-content-center">
                        <div class="col-12 mb-3">
                            <input type="email" class="form-control" name="email" placeholder="Please input the member's email">
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-secondary full-width" data-bs-dismiss="modal">No</button>
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-danger full-width">Yes</button type="submit">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
            </div>
        </div>
    </div>
{% endblock content %}
    